body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    margin-top: 25px;
    height: 90vh;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0 0 1em black;
}
.container > form{
    height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
.btn-weather{
    width: 200px;
    height: 30px;
    font-size: 20px;
}

input[type="text"] {
    outline: none;
    border: 0;
    border-bottom: 2px solid;
    font-size: 20px;
    width: 200px;
}

label {
    font-size: 24px;
}

.weather-result {
    height: 60vh;
    border: 2px solid #006400  ;   
    display: grid;
    grid-template-columns: repeat(2,15vw);
    grid-template-rows: repeat(1,27vh);
}



.converter-wrap,
.info-wrap {
    grid-column: 1/-1;
}
.info-wrap {
    height: 27vh;
}

.footer > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gif-img {
    width: 15vw;
    height: 27vh;
}

.info-wrap{
    padding: 0.9rem;
    font-size: 1.3rem;
}

.location-wrap {
    padding: 1.2rem;
    font-size: 1.3rem;
    align-self: end;
}